<div class="container mt-4 text-center">
  <img src="/assets/images/come-on-play-quiz.png" class="img-fluid d-block mx-auto mb-4" 
    alt="Come on play quiz!" style="max-width: 300px;">
  <h2 class="text-center">Please select a category</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let category of categories">
      <div class="card mb-4 quiz-card"
        (click)="goToQuizList(category)"
        style="cursor: pointer;">
        <img [src]="category.imageUrl" class="card-img-top" alt="{{ category.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ category.name }}</h5>
          <div class="btn btn-primary">View Quizzes</div>
        </div>
      </div>
    </div>
  </div>
</div>
