.quiz-card {
  max-width: 350px;
  margin: 0 auto;
}

.quiz-img {
  max-height: 180px;
  object-fit: cover;
}
  
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  