.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.nav-item.dropdown {
    padding: 10px;
  }
  
  .dropdown-menu {
    min-width: 200px;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
}

.login-dropdown {
  position: absolute;
  right: 1rem;
  top: 60px;
  z-index: 1050;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}