.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.nav-item.dropdown {
    padding: 10px;
  }
  
  .dropdown-menu {
    min-width: 200px;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
}